    @{
        Html.RenderPartial("_HeaderNavBar");
        Layout = "_Layout";
    }
    <head>
        <link rel="stylesheet" href="../css/style-contato.css"> 
    </head>
<header>
      <div class="sac">
                <h1>SAC</h1>
            </br>

            <form method="POST" action="contato.html">
                <div>
                    <label for="nome">Nome da empresa</label>
                        <br />
                    <input name="nome" id="nome" type="nome" maxlength="50" minlength="3" required />
                        <br />

                </div>

                <div>
                    <label for="email">E-mail</label>
                    </br>
                    <input name="email" id="email" type="text" maxlength="30" minlength="10">
                </div>

                <div>
                    <label for="assunto">Assunto</label>
                        <br />
                        <input name="assunto" id="assunto" type="text" required />
                        <br />
                        <br />
                        <input type="submit" value="Enviar" />
                </div>

            </form>
            </div>

            <section class="sede"> 
                    <br />
                    <br />
                    <h3>NOSSA SEDE!</h3>
                    <br />
                    <p> 
                        Empresa: Agora vai
                        <br />
                        Rua: Avenda Paulista
                        <br />
                        (11)2453-6983
                        <br />
                        (11)9- 8864-0863
                        <br />
                        <br />
                    </p>
                    
                </section>
                <section id="local">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.148645254728!2d-46.65657118502223!3d-23.563104284681987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.+Paulista%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1552853381524" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            
                    </section>

</header>