<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Final</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    @RenderBody()
        <footer class="footer">
            <section id="rodape">
              
                <div class="redesociais">
                    
                    <div>
                        <img src="img/icon-1562136_960_720.png" class="icone">
                        <p class="para">agoravai</p>
                    </div>
                    <div>

                        <img src="img/icones-04.png" class="icone">
                        <p class="para">agoravai</p>
                    </div>
                    <div>

                        <img src="img/face.png" class="icone">
                        <p class="para">Agoravai_pontodigital</p>
                    </div>

                </div>

            
        </br>
            </section>
        </br>
        </footer>
    
</body>
    
</html>