<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
        Layout = "_Layout";
    }
    <head>
        <link rel="stylesheet" href="../css/style-planos.css"> 
    </head>
    <div id="tipo">
            </br>
                    <img src="img/internauta.jpg"/>
                    <hgroup>
                        <h1>TESTE POR 1 MÊS GRATIS!!!</h1>
                    </br>
                </br>
                    </hgroup>
        </div>

        <div class="quadrados">
            </br>
        </br>
                <h2>NOSSOS PLANOS:</h2>
            </br>
        </br>
            <div class="primeiro">

                <h3>Plano 1- R$29,90 por mês 
                    </br>
                        Plano para empresas com até 5 funcionarios. 
                    </br>
                        Suporte de 24 horas.
                    </br>
                        <a href='@Url.Action("Index","Cadastro")'>Cadastre-se</a>
                    </h3>
            </div>
        </br>
            
            <div class="segundo">
                <h4>Plano 2- R$149,90 por mês </br>
                        Plano para empresas com até 50 funcionarios. </br>
                        Suporte de 12 horas.
                    </br>
                        <a href='@Url.Action("Index","Cadastro")'>Cadastre-se</a>
                    </h4> 
            </div>
        </br>

            <div class="terceiro">
                    <h4>Plano 3- R$299,90 por mês </br>
                            Plano para empresas com até 500 funcionarios. </br>
                            Suporte de 2 horas.
                        </br>
                            <a href='@Url.Action("Index","Cadastro")'>Cadastre-se</a>
                        </h4> 
            </div>
        </br>

            <div class="quarto">
                    <h6> Plano 4- Preço a definir </br>
                    Plano para empresas com mais 500 funcionarios.</br> 
                    Suporte de 1 horas.</br>
                    <a href='@Url.Action("Index","Cadastro")'>Cadastre-se</a>
                </h6>
            </div>

        </br>
    </br>

        </div>

            <div class="mento">
                    <p>FORMAS DE PAGAMENTO</p>
                </br>
            </br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio impedit autem iure laudantium cum odit. Illum qui beatae optio </br>ipsam possimus expedita consectetur, accusantium a, est, amet soluta consequuntur ipsa! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id suscipit, voluptatum vel magnam saepe facilis, assumenda rem </br>dolore, ullam quibusdam impedit reprehenderit ad officia aut quidem sit eaque nemo possimus!

            </p>
        </br>
    </br>
            </div>
</header>