<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
        Layout = "_Layout";
    }
    <head>
        <link rel="stylesheet" href="../css/style-sobre.css"> 
    </head>
    <div class="conteudo">
                </br>
                <h1>NOSSA HISTÓRIA</h1>
            </br>
        </br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi iste illum voluptates obcaecati laudantium deserunt impedit amet eaque similique </br>dolor error possimus perferendis quis aliquid maxime minima, unde earum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, unde perferendis? Voluptatum,</br> corporis suscipit. Ullam nisi inventore nobis cum quis voluptate sit! Id incidunt unde aut non nobis in? Eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi iste illum voluptates obcaecati laudantium deserunt impedit amet eaque similique </br>dolor error possimus perferendis quis aliquid maxime minima, unde earum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, unde perferendis? Voluptatum,</br> corporis suscipit. Ullam nisi inventore nobis cum quis voluptate sit! Id incidunt unde aut non nobis in? Eos.
        
        </p>
    </br>
</br>
</br>
</div>

        <div class="i">
            <h2>CRIADORES:</h2>
        </br>    
    </br>    
            <img id="fotos" src="img/çl,mnhgfdsxcvb.jfif" >
            <p>Carlos Tsukamoto</p>
            <img id="cezzarr" src="img/WhatsApp Image 2019-02-08 at 14.12.35.jpeg"><p>Cesar Felipe</p>

            </div>

        <div class="povo">
            </br>
        </br>
            <h3>NOSSA EQUIPE</h3>
        </br>
    </br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi iste illum voluptates obcaecati laudantium deserunt impedit amet eaque similique dolor error possimus perferendis quis aliquid maxime minima, unde earum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, unde perferendis? Voluptatum, corporis suscipit. Ullam nisi inventore nobis cum quis voluptate sit! Id incidunt unde aut non nobis in? Eos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi iste illum voluptates obcaecati laudantium deserunt impedit amet eaque similique </br>dolor error possimus perferendis quis aliquid maxime minima, unde earum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, unde perferendis? Voluptatum,</br> corporis suscipit. Ullam nisi inventore nobis cum quis voluptate sit! Id incidunt unde aut non nobis in? Eos.</p>
        </br>
    </br>
            <img id="equipe" src="img/equpie.jpeg">
            <img id="negocio" src="img/equipe-de-negocios-criativa-trabalhando-duro-juntos-no-pc_13339-170917.jpg">
        </br>
            <img id="criar" src="img/276474-7-dicas-de-como-criar-uma-sala-de-reuniao-moderna-e-confortavel-1280x640.jpg" >
            <img id="sala" src="img/trabalho-em-equipe.jpg">
            
        </div>


</header>