@using PontoDigitalWeb.Models;
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, inicial-scale=1.0">
    <link rel="stylesheet" href="../css/style-depo.css">
</head>

<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href='@Url.Action("Index","Home")#Home'>Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="meio">
            <h2>Depoimentos</h2>
            </br>
            </br>
           
            <form method="POST" action="">
                <textarea name="comentario" id="" cols="30" rows="5" name="200">Deixa aqui sua opnião.</textarea>
                </br>
                

                <input type="submit" value="Enviar" />
            </form>
            </div>
    </main>
</body>

</header>